<% if is_logged_in? %>
    Logged in as: <%= logged_in_user.agentName %>
    <%= link_to '<button type="button">Logout</button>'.html_safe, {:controller => 'member', :action => 'logout'}, :method => :post %>
    <div align = "center">
      <h1>Home</h1><br>
    <%= link_to '<button type="button">Settings</button>'.html_safe, new_welcome_path %><br><br>
    </div><br>
    <p><b>Your apps:</b></p>
      <% if logged_in_user.cabset %>
        <br>1. <%= link_to '<button type="button">Cab Booking</button>'.html_safe, new_cabbooking_path %> <br>
    <% end %>
    <% if logged_in_user.railset %>
        <br>2. <%= link_to '<button type="button">Airline Booking</button>'.html_safe, new_airlinebooking_path %> <br>
    <% end %>
    <% if logged_in_user.airset %>
        <br>3. <%= link_to '<button type="button">App3</button>'.html_safe, '/' %> <br>
    <% end %>
<% else %>
    <p>User not signed in.</p>
    <%= link_to 'Login', :controller => 'member', :action => 'login' %>
<% end %>